[Unit]
Description=My Go Application
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/main
WorkingDirectory=/home/ubuntu
Restart=always
RestartSec=5
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
